<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477782284816-ue92ptn0ol83skpg5potup4jnmj2tejd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477782284816-ue92ptn0ol83skpg5potup4jnmj2tejd</string>
	<key>API_KEY</key>
	<string>AIzaSyCXLjzM2cjJ_94NiSeNI2N0FF9NG3WHA0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>477782284816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Techimmense.FindMyBuddy</string>
	<key>PROJECT_ID</key>
	<string>findmybuddy-68236</string>
	<key>STORAGE_BUCKET</key>
	<string>findmybuddy-68236.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477782284816:ios:1fe3b1d3c4a504598f8895</string>
</dict>
</plist>